@import "../../theme.scss";

.EventInfo {
    padding: 0 15px 65px;

    &-Figure {
        width: 100%;
        height: 230px;
    }

    &-FigureImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-Description {
        font-size: 14px;
        line-height: 150%;
    }

    &-Content {
        margin-bottom: 24px;
    }

    @media screen and (min-width: 500px) {
        &-Figure {
            height: 300px;
        }
    }

    @media screen and ($tablet) {
        padding: 0 25px 65px;

        &-Content {
            display: flex;
            justify-content: space-between;
        }
    
        &-Figure {
            height: 230px;
            width: 350px;
        }
    }

    @media screen and ($desktop) {
        margin: 0 auto;
        padding: 0 0 64px;
        max-width: 930px;

        &-Figure {
            height: 350px;
            width: 600px;
        }
    
        &-Description {
            width: 600px;
            font-size: 16px;
        }
        
    }

    @media screen and ($desktopLarge) {
        max-width: 1280px;

        &-Figure {
            height: 450px;
            width: 800px;
        }
        
        &-Description {
            width: 800px;
        }
        
    }
}
